serviceLayer/restful/workspace/RESTfulExample_Jersey1/RESTfulExample_Jersey1/wadl/RESTfulExample_Jersey1.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://research.sun.com/wadl/2006/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.8 06/24/2011 12:17 PM" />
	<resources base="http://localhost:8080/RESTfulExample_Jersey1/rest">
		<resource path="/orders">
			<resource path="/{order}">
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="order"
					style="template" type="xs:string" />
				<method id="find" name="GET">
					<response>
						<representation mediaType="text/html" />
					</response>
				</method>
				<method id="create" name="PUT">
					<request>
						<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="customer_name"
							style="query" type="xs:string" />
					</request>
					<response>
						<representation mediaType="text/html" />
					</response>
				</method>
			</resource>
			<resource path="/list">
				<method id="list" name="GET">
					<response>
						<representation mediaType="text/html" />
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/user">
			<resource path="/{param}">
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="param"
					style="template" type="xs:string" />
					
				<method id="getMsg" name="GET">
					<response>
						<representation mediaType="*/*" />
					</response>
				</method>
			</resource>
			<resource path="/add">
				<method id="addUser" name="POST">
					<request>
						<representation mediaType="application/xml">
							<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="name"
								style="query" type="xs:string" />
							<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="age"
								style="query" type="xs:int" />
						</representation>
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/employee">
				<param name="tiaa-consumer" style="header" type="xsd:string" required="true" />
				<param name="tiaa-timestamp" style="header" type="xsd:dateTime" required="false"/>
				<param name="tiaa-digest" style="header" type="xsd:string" required="false"/>
				<param name="tiaa-guid" style="header" type="xsd:string" required="true"/>
				<param name="tiaa-user-ref" style="header" type="xsd:string" required="true" default="UNKNOWN"/>
				<param name="tiaa-sender-machine" style="header" type="xsd:string" required="true"/>
				<param name="tiaa-correlation-id" style="header" type="xsd:string" required="false"/>
				<param name="tiaa-partner-id" style="header" type="xsd:string" required="false"/>				
				<method id="getEmployee" name="POST">
					<request>
						<representation mediaType="application/xml" />
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/ReadFile/{param}">
			<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="param"
				style="template" type="xs:string" />
			<method id="getMsg" name="GET">
				<response>
					<representation mediaType="*/*" />
				</response>
			</method>
		</resource>
		<resource path="/hello">
			<resource path="/{param}">
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="param"
					style="template" type="xs:string" />
				<method id="getMsg" name="GET">
					<response>
						<representation mediaType="*/*" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>